@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent: #50faab;
    --bg-main: #181729;
    --link: #936cc5;
}

body {
    font-family: "Ubuntu", sans-serif;
    background-color: var(--bg-main);
}

.textbox-container {
    background-color: var(--accent);
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
}

.textbox-container a {
    color: var(--link);
    margin-left: 3px;
    font-weight: 500;
}
